// ============================================================
// Color palette from Google Material Design
// ============================================================
// Usage: color: $mdc-colorname.number
// ============================================================

// Red
// ------------------------------------------------------------
$mdc-red = {
  base: #f44336,
  b50:   #ffebee,
  b100:  #ffcdd2,
  b200:  #ef9a9a,
  b300:  #e57373,
  b400:  #ef5350,
  b500:  #f44336,
  b600:  #e53935,
  b700:  #d32f2f,
  b800:  #c62828,
  b900:  #b71c1c,
  a100: #ff8a80,
  a200: #ff5252,
  a400: #ff1744,
  a700: #d50000
}

// Pink
// ------------------------------------------------------------
$mdc-pink = {
  base: #e91e63,
  b50:   #fce4ec,
  b100:  #f8bbd0,
  b200:  #f48fb1,
  b300:  #f06292,
  b400:  #ec407a,
  b500:  #e91e63,
  b600:  #d81b60,
  b700:  #c2185b,
  b800:  #ad1457,
  b900:  #880e4f,
  a100: #ff80ab,
  a200: #ff4081,
  a400: #f50057,
  a700: #c51162
}

// Purple
// ------------------------------------------------------------
$mdc-purple = {
  base: #9c27b0,
  b50:   #f3e5f5,
  b100:  #e1bee7,
  b200:  #ce93d8,
  b300:  #ba68c8,
  b400:  #ab47bc,
  b500:  #9c27b0,
  b600:  #8e24aa,
  b700:  #7b1fa2,
  b800:  #6a1b9a,
  b900:  #4a148c,
  a100: #ea80fc,
  a200: #e040fb,
  a400: #d500f9,
  a700: #aa00ff
}

// Deep purple
// ------------------------------------------------------------
$mdc-deep-purple = {
  base: #673ab7,
  b50:   #ede7f6,
  b100:  #d1c4e9,
  b200:  #b39ddb,
  b300:  #9575cd,
  b400:  #7e57c2,
  b500:  #673ab7,
  b600:  #5e35b1,
  b700:  #512da8,
  b800:  #4527a0,
  b900:  #311b92,
  a100: #b388ff,
  a200: #7c4dff,
  a400: #651fff,
  a700: #6200ea
}

// Indigo
// ------------------------------------------------------------
$mdc-indigo = {
  base: #3f51b5,
  b50:   #e8eaf6,
  b100:  #c5cae9,
  b200:  #9fa8da,
  b300:  #7986cb,
  b400:  #5c6bc0,
  b500:  #3f51b5,
  b600:  #3949ab,
  b700:  #303f9f,
  b800:  #283593,
  b900:  #1a237e,
  a100: #8c9eff,
  a200: #536dfe,
  a400: #3d5afe,
  a700: #304ffe
}

// Blue
// ------------------------------------------------------------
$mdc-blue = {
  base: #2196f3,
  b50:   #e3f2fd,
  b100:  #bbdefb,
  b200:  #90caf9,
  b300:  #64b5f6,
  b400:  #42a5f5,
  b500:  #2196f3,
  b600:  #1e88e5,
  b700:  #1976d2,
  b800:  #1565c0,
  b900:  #0d47a1,
  a100: #82b1ff,
  a200: #448aff,
  a400: #2979ff,
  a700: #2962ff
}

// Light Blue
// ------------------------------------------------------------
$mdc-light-blue = {
  base: #03a9f4,
  b50:   #e1f5fe,
  b100:  #b3e5fc,
  b200:  #81d4fa,
  b300:  #4fc3f7,
  b400:  #29b6f6,
  b500:  #03a9f4,
  b600:  #039be5,
  b700:  #0288d1,
  b800:  #0277bd,
  b900:  #01579b,
  a100: #80d8ff,
  a200: #40c4ff,
  a400: #00b0ff,
  a700: #0091ea
}

// Cyan
// ------------------------------------------------------------
$mdc-cyan = {
  base: #00bcd4,
  b50:   #e0f7fa,
  b100:  #b2ebf2,
  b200:  #80deea,
  b300:  #4dd0e1,
  b400:  #26c6da,
  b500:  #00bcd4,
  b600:  #00acc1,
  b700:  #0097a7,
  b800:  #00838f,
  b900:  #006064,
  a100: #84ffff,
  a200: #18ffff,
  a400: #00e5ff,
  a700: #00b8d4
}

// Teal
// ------------------------------------------------------------
$mdc-teal = {
  base: #009688,
  b50:   #e0f2f1,
  b100:  #b2dfdb,
  b200:  #80cbc4,
  b300:  #4db6ac,
  b400:  #26a69a,
  b500:  #009688,
  b600:  #00897b,
  b700:  #00796b,
  b800:  #00695c,
  b900:  #004d40,
  a100: #a7ffeb,
  a200: #64ffda,
  a400: #1de9b6,
  a700: #00bfa5
}
// Green
// ------------------------------------------------------------
$mdc-green = {
  base: #4caf50,
  b50:   #e8f5e9,
  b100:  #c8e6c9,
  b200:  #a5d6a7,
  b300:  #81c784,
  b400:  #66bb6a,
  b500:  #4caf50,
  b600:  #43a047,
  b700:  #388e3c,
  b800:  #2e7d32,
  b900:  #1b5e20,
  a100: #b9f6ca,
  a200: #69f0ae,
  a400: #00e676,
  a700: #00c853
}

// Light green
// ------------------------------------------------------------
$mdc-light-green = {
  base: #8bc34a,
  b50:   #f1f8e9,
  b100:  #dcedc8,
  b200:  #c5e1a5,
  b300:  #aed581,
  b400:  #9ccc65,
  b500:  #8bc34a,
  b600:  #7cb342,
  b700:  #689f38,
  b800:  #558b2f,
  b900:  #33691e,
  a100: #ccff90,
  a200: #b2ff59,
  a400: #76ff03,
  a700: #64dd17
}

// Lime
// ------------------------------------------------------------
$mdc-lime = {
  base: #cddc39,
  b50:   #f9fbe7,
  b100:  #f0f4c3,
  b200:  #e6ee9c,
  b300:  #dce775,
  b400:  #d4e157,
  b500:  #cddc39,
  b600:  #c0ca33,
  b700:  #afb42b,
  b800:  #9e9d24,
  b900:  #827717,
  a100: #f4ff81,
  a200: #eeff41,
  a400: #c6ff00,
  a700: #aeea00
}

// Yellow
// ------------------------------------------------------------
$mdc-yellow = {
  base: #ffeb3b,
  b50:   #fffde7,
  b100:  #fff9c4,
  b200:  #fff59d,
  b300:  #fff176,
  b400:  #ffee58,
  b500:  #ffeb3b,
  b600:  #fdd835,
  b700:  #fbc02d,
  b800:  #f9a825,
  b900:  #f57f17,
  a100: #ffff8d,
  a200: #ffff00,
  a400: #ffea00,
  a700: #ffd600
}
// amber
// ------------------------------------------------------------
$mdc-amber = {
  base: #ffc107,
  b50:   #fff8e1,
  b100:  #ffecb3,
  b200:  #ffe082,
  b300:  #ffd54f,
  b400:  #ffca28,
  b500:  #ffc107,
  b600:  #ffb300,
  b700:  #ffa000,
  b800:  #ff8f00,
  b900:  #ff6f00,
  a100: #ffe57f,
  a200: #ffd740,
  a400: #ffc400,
  a700: #ffab00
}
// Orange
// ------------------------------------------------------------
$mdc-orange = {
  base: #ff9800,
  b50:   #fff3e0,
  b100:  #ffe0b2,
  b200:  #ffcc80,
  b300:  #ffb74d,
  b400:  #ffa726,
  b500:  #ff9800,
  b600:  #fb8c00,
  b700:  #f57c00,
  b800:  #ef6c00,
  b900:  #e65100,
  a100: #ffd180,
  a200: #ffab40,
  a400: #ff9100,
  a700: #ff6d00
}
// Deep orangle
// ------------------------------------------------------------
$mdc-deep-orange = {
  base: #ff5722,
  b50:   #fbe9e7,
  b100:  #ffccbc,
  b200:  #ffab91,
  b300:  #ff8a65,
  b400:  #ff7043,
  b500:  #ff5722,
  b600:  #f4511e,
  b700:  #e64a19,
  b800:  #d84315,
  b900:  #bf360c,
  a100: #ff9e80,
  a200: #ff6e40,
  a400: #ff3d00,
  a700: #dd2c00
}
// Brown
// ------------------------------------------------------------
$mdc-brown = {
  base: #795548,
  b50:   #efebe9,
  b100:  #d7ccc8,
  b200:  #bcaaa4,
  b300:  #a1887f,
  b400:  #8d6e63,
  b500:  #795548,
  b600:  #6d4c41,
  b700:  #5d4037,
  b800:  #4e342e,
  b900:  #3e2723,
}
// Grey
// ------------------------------------------------------------
$mdc-grey = {
  base: #9e9e9e,
  b50:   #fafafa,
  b100:  #f5f5f5,
  b200:  #eeeeee,
  b300:  #e0e0e0,
  b400:  #bdbdbd,
  b500:  #9e9e9e,
  b600:  #757575,
  b700:  #616161,
  b800:  #424242,
  b900:  #212121,
}
$mdc-gray = $mdc-grey
// Blue grey
// ------------------------------------------------------------
$mdc-blue-grey = {
  base: #607d8b,
  b50:   #eceff1,
  b100:  #cfd8dc,
  b200:  #b0bec5,
  b300:  #90a4ae,
  b400:  #78909c,
  b500:  #607d8b,
  b600:  #546e7a,
  b700:  #455a64,
  b800:  #37474f,
  b900:  #263238,
}
$mdc-blue-gray = $mdc-blue-grey
// Black
// ------------------------------------------------------------

$mdc-black = {
  base: #000
}

// White
// ------------------------------------------------------------

$mdc-white = {
  base: #fff
}

// ============================================================
// (Social|SimpleIcon) Servise Color palette from SimpleIcon
// ref: https://simpleicons.org/
// . and space changed to  _(/.+(\.| ).+/ to _)
// ============================================================
// Usage: color: $ssc.name_of_service
// ============================================================

// TODO: Add rakuten
$ssc = {
  Viber: #7C529E,
  Podcasts: #9933CC,
  JustGiving: #AD29B6,
  Microsoft_OneNote: #80397B,
  Player_me: #C0379A,
  GraphQL: #E10098,
  Sass: #CC6699,
  Gitter: #FF0064,
  Dribbble: #EA4C89,
  ProcessWire: #EF145F,
  Raspberry_Pi: #C7053D,
  Songkick: #F80046,
  Foursquare: #F94877,
  InVision: #FF3366,
  Slides: #E4637C,
  CSS_Wizardry: #F43059,
  Air: #FF2D55,
  Instagram: #E4405F,
  The_Mighty: #D0072A,
  Pocket: #EF3F56,
  Pinterest: #BD081C,
  Sina_Weibo: #E6162D,
  MasterCard: #EB001B,
  Twilio: #F22F46,
  Opera: #FF1B2D,
  Macys: #E11A2B,
  Nintendo_Switch: #E60012,
  Livestream: #CF202E,
  Toggl: #C5000B,
  Netflix: #E50914,
  Airbnb: #FF5A5F,
  Microsoft_Access: #BA141A,
  CakePHP: #D33C43,
  Meetup: #E2373C,
  eBay: #E53238,
  Server_Fault: #E7282D,
  Trakt: #ED1C24,
  Gulp: #DA4648,
  Bebo: #DE484A,
  Kirby: #FF0100,
  Microgenetics: #FF0000,
  Tinder: #FF6B6B,
  Readability: #990000,
  Quantopian: #C50000,
  Jekyll: #CC0000,
  Tesla: #CC0000,
  Meteor: #DE4F4F,
  Flipboard: #E12828,
  GNU: #A42E2B,
  YouTube: #CD201F,
  Quora: #B92B27,
  Ruby: #CC342D,
  Last_fm: #D51007,
  Sauce_Labs: #E2231A,
  Plurk: #E9443D,
  MakerBot: #FF1E0D,
  TED: #E62B1E,
  Yelp: #C41200,
  ReverbNation: #E43526,
  BuzzFeed: #EE3322,
  Google_Plus: #DC4E41,
  Jenkins: #D24939,
  Gmail: #D14836,
  Laravel: #E74430,
  Everplaces: #FA4B32,
  GitLab: #E24329,
  Sentry: #FB4226,
  AddThis: #FF5C3E,
  Git: #F14E32,
  CodeIgniter: #EE4623,
  SoundCloud: #FF3300,
  Microsoft_PowerPoint: #D24726,
  StumbleUpon: #EB4924,
  Product_Hunt: #DA552F,
  HTML5: #E34F26,
  Patreon: #E6461A,
  Smashing_Magazine: #E85C33,
  Ubuntu: #E95420,
  Auth0: #EB5424,
  Reddit: #FF4500,
  Zapier: #FF4A00,
  Y_Combinator: #F0652F,
  Klout: #E44600,
  Magento: #EE672F,
  Bitly: #EE6123,
  Eventbrite: #F6682F,
  Origin: #F56C2D,
  SparkPost: #FA6423,
  Etsy: #F45800,
  Discover: #FF6000,
  Draugiem_lv: #FF6600,
  Monero: #FF6600,
  Odnoklassniki: #F4731C,
  Twoo: #FF7102,
  Stack_Overflow: #FE7A16,
  Blogger: #F38936,
  Viadeo: #F88D2D,
  Overcast: #FC7E0F,
  Goodreads: #663300,
  Gratipay: #663300,
  Bitcoin: #F7931A,
  Amazon: #FF9900,
  RSS: #FFA500,
  Swarm: #FBB631,
  Monogram: #FDB22A,
  Plex: #E5A00D,
  Wix: #FFC233,
  Fnac: #E1A925,
  Google_Analytics: #FFC107,
  Monkey_tie: #FFC619,
  Linux: #FCC624,
  GoldenLine: #FBBF00,
  IMDb: #E6B91E,
  Launchpad: #F8C300,
  Spreaker: #F5C300,
  JavaScript: #F7DF1E,
  Pingdom: #FFF000,
  Snapchat: #FFFC00,
  Khan_Academy: #9DB63B,
  Android: #A4C639,
  Glassdoor: #7CB228,
  Kik: #82BC23,
  WeChat: #7BB32E,
  Geeklist: #8CC63F,
  Zerply: #9DBC7A,
  Hulu: #66AA33,
  Houzz: #7AC142,
  Trulia: #53B50A,
  Geocaching: #467126,
  Shopify: #7AB55C,
  Gumtree: #72EF36,
  Empire_Kred: #72BE50,
  Upwork: #6FDA44,
  TripAdvisor: #589442,
  Minecraft: #62B74A,
  When_I_Work: #51A33D,
  Feedly: #6CC655,
  Instacart: #43B02A,
  Event_Store: #5AB552,
  freeCodeCamp: #006600,
  Xbox: #107C10,
  Node_js: #339933,
  Basecamp: #66CC66,
  Line: #00C300,
  Sentia_Yoga: #4CAF50,
  Treehouse: #5FCF80,
  Travis_CI: #39A85B,
  Sellfy: #21B352,
  DeviantArt: #05CC47,
  Evernote: #2DBE60,
  HackerRank: #2EC866,
  WhatsApp: #25D366,
  Spotify: #1ED760,
  Kickstarter: #2BDE73,
  Microsoft_Excel: #217346,
  Roots: #27AE60,
  Gauges: #339966,
  Speaker_Deck: #339966,
  Koding: #00B057,
  Google_Hangouts: #0C9D58,
  Vue_js: #4FC08D,
  Slack: #56B68B,
  Moo: #00945E,
  Medium: #00AB6B,
  Skyliner: #2FCEA0,
  Vine: #11B48A,
  Bing: #008373,
  Slashdot: #026664,
  Pingup: #00B1AB,
  Umbraco: #00BEC1,
  Xing: #005A5F,
  Fitbit: #00B0B9,
  Runkeeper: #2DC9D7,
  WP_Engine: #40BAC8,
  Zendesk: #03363D,
  React: #00D8FF,
  Code_School: #4CADC0,
  Deezer: #00C7F2,
  Proto_io: #34A7C1,
  Bandcamp: #408294,
  MailChimp: #2C9AB7,
  Co-op: #00A1CC,
  Minutemailer: #3ABFE6,
  Udacity: #01B3E3,
  Periscope: #40A4C4,
  Vimeo: #1AB7EA,
  Xero: #13B5EA,
  LiveJournal: #00B0EA,
  Hatena_Bookmark: #00A4DE,
  Bath_ASU: #00A3E0,
  Skype: #00AFF0,
  Tencent_QQ: #12B7F5,
  Kaggle: #20BEFF,
  SitePoint: #258AAF,
  ComproPago: #00AAEF,
  Topcoder: #29A8E0,
  Campaign_Monitor: #19A9E5,
  WordPress: #21759B,
  Gravatar: #1E8CBE,
  Virb: #0093DA,
  Telegram: #2CA5E0,
  Super_User: #2EACE3,
  LinkedIn: #0077B5,
  Sega: #0089CF,
  Rdio: #008FD5,
  Teespring: #39ACE6,
  _500px: #0099E5,
  Google_Play: #607D8B,
  Garmin: #007CC3,
  Docker: #1488C6,
  ACM: #0085CA,
  Linux_Foundation: #009BEE,
  Hackster: #1BACF7,
  Trello: #0079BF,
  Stripe: #008CDD,
  Brand_ai: #0AA0FF,
  About_me: #044A75,
  Drupal: #0678BE,
  Codeforces: #1F8ACB,
  Twitter: #1DA1F2,
  Scribd: #1A7BBA,
  Storify: #3A98D9,
  PlanGrid: #0085DE,
  CSS3: #1572B6,
  Microsoft_Outlook: #0072C6,
  Yammer: #0072C6,
  Mastodon: #189EFC,
  Codecademy: #204056,
  Read_the_Docs: #8CA1AF,
  GOV_UK: #005EA5,
  Intel: #0071C5,
  Windows: #0078D6,
  Buffer: #168EEA,
  PayPal: #00457C,
  Coderwall: #3E8DCC,
  iFixit: #0071CE,
  Dropbox: #007EE5,
  UIkit: #2396F3,
  Disqus: #2E9FFF,
  JSFiddle: #4679A4,
  Joomla: #5091CD,
  Intercom: #1F8DED,
  Steem: #4BA2F2,
  Messenger: #0084FF,
  American_Express: #2E77BC,
  DigitalOcean: #0080FF,
  Delicious: #3399FF,
  OVH: #123F6D,
  HipChat: #205281,
  Zillow: #0074E4,
  StubHub: #003168,
  Bitbucket: #205081,
  Lanyrd: #3C80CA,
  Dailymotion: #0066DC,
  VK: #6383A8,
  Stack_Exchange: #1E5397,
  Flickr: #0063DC,
  Mixcloud: #314359,
  Toptal: #3863A0,
  Tumblr: #36465D,
  Microsoft_Word: #2B579A,
  Designer_News: #2D72D9,
  JIRA: #172B4D,
  Subversion: #809CC9,
  OneDrive: #094AB2,
  Google: #4285F4,
  Google_Drive: #4386FC,
  Behance: #1769FF,
  PlayStation: #003399,
  Facebook: #3B5998,
  Codio: #4574E0,
  Discord: #7289DA,
  Visa: #142787,
  ProtonMail: #9497CE,
  Pinboard: #0000FF,
  Baidu: #2319DC,
  Nucleo: #766DCC,
  Spotlight: #352A71,
  Twitch: #6441A5,
  Bootstrap: #563D7C,
  Heroku: #430098,
  Yahoo: #440099,
  FeatHub: #9B9B9B,
  Apple: #999999,
  Nintendo: #8F8F8F,
  Wii_U: #8B8B8B,
  Wii: #8B8B8B,
  Automatic: #7D8084,
  Ghost: #718087,
  Coursera: #757575,
  Microsoft: #666666,
  Conekta: #414959,
  Ethereum: #3C3C3D,
  App_net: #3A393C,
  Asana: #273347,
  CircleCI: #343434,
  Statamic: #1F3641,
  Matternet: #261C29,
  StyleShare: #231F20,
  Pagekit: #212121,
  Grav: #221E1F,
  Big_Cartel: #222222,
  Oculus: #1C1E20,
  Instapaper: #1F1F1F,
  GitHub: #181717,
  Simple_Icons: #111111,
  Myspace: #030303,
  Wire: #000000,
  Wikipedia: #000000,
  VSCO: #000000,
  Uber: #000000,
  Symfony: #000000,
  Stitcher: #000000,
  Steam: #000000,
  Squarespace: #000000,
  Mozilla: #000000,
  MediaTemple: #000000,
  JSON: #000000,
  Inkscape: #000000,
  Hootsuite: #000000,
  Ello: #000000,
  Discourse: #000000,
  Digg: #000000,
  Diaspora: #000000,
  CodePen: #000000
}
$sc = {
  Rakuten: #aa0000
}
