// @charset 'utf-8'
// ============================================================
// Frameworks and Plugins for it with formatting
// ============================================================
@import '../node_modules/kouto-swiss'
// meyer-reset()
box-sizing-reset()

@import '_basis/_gfm'
// follows atomic design concept
// ============================================================
// base settings *order sensitive*
// ============================================================
@import '_basis/_fonts'
@import '_basis/_colors'
@import '_basis/_variables'
@import '_basis/_mixins'
@import '_basis/_base'
// ============================================================
// atoms | is minimum components
// ============================================================
// @import '_atoms/**/*'
// ============================================================
// molecules, atoms make a molecule
// ============================================================
// @import '_molecules/**/*'
// ============================================================
// organisms, molecules make a organism
// ============================================================
// @import '_organisms/**/*'
